*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
  }
  
  /* .bumper {
    text-align: center;
    padding: 128px 16px;
    background-color: #efefef;
  } */
  
  .container {
  /*   position: relative; */
    width: 1200px;
    margin: 0 auto;
  /*   min-height: 100vh; */
  }
  
  .space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
  /*   height: 100vh; */
    height: 500px;
    width: 100%;
  /*   overflow-x: hidden; */
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 100%;
  /*   padding: 0 0 0 150px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sample-card {
    position: relative;
    height: 300px;
    width: 500px;
    background-color: #111f30;
    margin-right: 150px;
    flex-shrink: 0;
  }
  
.img1{
    height: 80%;
    bottom: 0;
    position: absolute;
}  
.bg-bk{
    background-color: #000;
}